{% extends "base.html" %}

{% block titulo %} Listado de mensajes {% endblock %}

{% block contenido_principal %}
<h2>Listado de mensajes</h2>
<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <form class="form-horizontal">
        <table class="table table-hover" id="tableOffers">
            <thead>
            <tr>
                <th>Oferta</th>
                <th>Vendedor</th>
                <th>Interesado</th>
                <th>Mensaje</th>
            </tr>
            </thead>
            {% for mensaje in mensajes %}
            <tbody>
            <tr>
                <th>{{ mensaje.oferta.titulo }}</th>
                <th>{{ mensaje.vendedor }}</th>
                <th>{{ mensaje.interesado }}</th>
                <th>{{ mensaje.mensaje }}</th>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}