{% extends "base.html" %}

{% block titulo %} Listado de usuarios {% endblock %}

{% block contenido_principal %}
<h2 class="display-6 mt-3">Listado de usuarios</h2>
<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <form class="form-horizontal" method="post" action="/usuario/borrar">
        <table class="table table-hover" id="tableUsers">
            <caption>Lista de usuarios</caption>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">
                    <button type="submit" class="btn btn-primary" id="btnDelete">Eliminar</button>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in listado %}
            <tr>
                <th scope="row"></th>
                <th>{{ usuario.nombre }}</th>
                <th>{{ usuario.apellidos }}</th>
                <th>{{ usuario.email }}</th>
                <th><input class="form-check-input ml-2" type="checkbox" name="box[]" value={{usuario.email}}
                           id={{usuario.email}}></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}