{% extends "base.html" %}

{% block titulo %} Listado de Ofertas {% endblock %}

{% block contenido_principal %}


<div class="row mt-3">
    <div class="col-md-8">
        <h2>Ofertas</h2>
    </div>
    <div class="col-md-4" style="float: right" id="custom-search-input">
        <form method="get" action="/oferta/tienda">
            <div class="input-group">
                <div class="form-outline">
                    <input id="searchBar" type="text" class="search-query form-control"
                           placeholder="Nombre de la oferta" name="busqueda"/>
                </div>
                <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-primary" type="submit">
                        Buscar
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div id="offersList" class="container">

    {% for oferta in ofertas %}
    <div class="card" name="filaOferta">
        <div class="card-body row">
            <div class="col-md-9">
                <h3>{{ oferta.titulo }}</h3>
                <p>{{ oferta.detalles }}</p>
            </div>
            <div class="col-md-3">
                <h4>{{ oferta.precio }} €</h4>
                <h5><a href="/oferta/comprar/{{ oferta._id.toString() }}">{{oferta.disponible}}</a></h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row pl-5 mt-3">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{pagina}}">
            <a class="page-link" href="/oferta/tienda?pg={{pagina}}">{{pagina}}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{actual}}").addClass("active");
        </script>
    </ul>
</div>

{% endblock %}